
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.container{
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url('https://scontent.fhan5-11.fna.fbcdn.net/v/t39.30808-6/593875622_899284862495993_3028109113257487380_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=dUqQpt_CKfsQ7kNvwHWKtM8&_nc_oc=AdkWRNPjMZwhynDNoojgBJpvnHm0zxE_Ry2KTI9a677aXEuanB680EtaFzquLlLIIKQ&_nc_zt=23&_nc_ht=scontent.fhan5-11.fna&_nc_gid=jtkAFFMKTMypim0YktTxvA&oh=00_AfopIecdrU13_0hR8PcHTIEoy2lbgzLyFC9GvWF4fTCpsA&oe=696E343C');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    box-shadow: 0 px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
body{
    scroll-behavior: smooth;
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url(https://images4.alphacoders.com/120/thumb-1920-1207695.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    margin: 1rem;
}
nav .img{
    border-radius: 50%;   
    margin: 1rem
}
nav .title-list{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-weight: bold;
    opacity : 0.85;
}
nav .title-list a:hover{
    color : #2f5997;
}
section{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    margin-top: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    padding: 20px;
    max-width: 450px;
    gap: 20px
}
.layout {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 2rem;
  align-items: start;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    margin-top: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    padding: 20px;
    max-width: auto;
    gap: 20px
}
.art{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}
.art img{
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
    height: 100%;
    object-fit: cover;
    aspect-ratio:1/1.3
}
.art img:hover{
    transform: scale(1.05);
}
.art img{
    max-width: 100%;
}
.social a:hover{
    color : #2f5997; 
}











.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background: #111;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




/* ===== Footer ===== */
.site-footer {
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 0.9rem;
  color: #777;
  bottom: 0;
}









@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
